@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;

}
a:link {
    text-decoration: none;
    color:black;
  }
.nv{
    display: flex;
   
}  
.a1{
    padding:30px

}
.ad{
    margin-left: 600px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    width: 50%;
    line-height: 3vh;
    font-size: 30px;
}
.sign-input{
    padding: 10px;
}
.login-button{
    padding: 10px;
}
.login-input{
    padding: 10px;
}

body{
    background-color: var(--primary-color);
}
html{
    font-size: 75.5%;
}
.header{
   
    height: 200px;
   
    align-items: center;
   
}
.il{
    margin-left: 600px;
    margin-top: 200px;
    border-radius: 100%;
}
.ig{
    border-radius: 100%;
}
.header::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    height: 1500px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGlicmFyeXxlbnwwfHwwfHw%3D&w=1000&q=80");
    clip-path: circle(60% at left 300px);
    z-index: -1;
}
.row2{
    position: absolute;
    top:10px;
    right: 150px;
    text-align: center;
}
.log{
    background-image: url(https://cutewallpaper.org/27/black-floral-phone-wallpaper/1061819090.jpg);
}
.row2 h2{
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 15px;
}
.row2 img{
    margin-top: 30px;
    width: 250px;
}
.row1 h1{
    font-size: 3rem;
    text-align: center;
    margin-left: 35px;
    font-family: 'Raleway', sans-serif;

}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search input{
    outline: 0;
    border-color: black;
    width: 350px;
    height: 35px;
    padding: 0 0.5rem;
    font-size: 15px;
    font-weight: bold;
}
.search button{
    outline: none;
    border-color: black;
    height: 38px;
    padding: 0 0.5rem;
}
.container{
    width: 65%;
    margin: 0 auto;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
    grid-gap:20px;
    box-sizing: border-box;
}
.card{
    margin-top: 50px;
   
    border-radius: 1rem;
    padding: 0.5rem;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px rgba(212,185,150,.5);
    transition: .5s;
    text-align: center;
    position: relative;
    width: 200px;
}
.card:hover{
    transform: scale(0.9);
    background-color: rgba(255,255,255,0.8);
}
.card img{
    width: 100%;
    height: 200px;
    border-radius: 1rem 1rem 0 0;
}
.card .bottom{
    display: flex;
    flex-direction: column;
}
.card .bottom .title{
    font-size: 14px;
    margin-bottom: 32px;
    background-color: antiquewhite;
}
.card .bottom .amount{
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 13px;
    font-weight: bold;
    padding: 0.2rem;
}
.overlay{
    min-height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay-inner{
    background: white;
    width: 700px;
    height: 550px;
    padding: 1.5rem;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 1.3rem;
}
.overlay-inner .close{
    position: absolute;
    top:1rem;
    right: 1rem;
    outline: none;
    border: none;
    font-size: 17px;
    background-color: transparent;
}
.overlay-inner .inner-box{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.overlay-inner .inner-box img{
    margin-right: 20px;
    width: 150px;
    height: 200px;
}
.overlay-inner .inner-box h3{
    margin-top: 10px;
    color: green;
}
.overlay-inner .inner-box h4{
    color: blue;
}
.overlay-inner .inner-box button{
    outline: none;
    border: none;
    width: 100px;
    border-radius: 5px;
    background-color: #24a0ed;
    color: white;
    font-weight: bold;
    padding: 0.3rem 0.5rem;
}
.overlay-inner .description{
    margin-top: 2rem;
    text-align: justify;
    font-size: 13px;
}